<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.materyaldesig">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MateryalDesig">
        <activity android:name=".SplashActivity">
<!--            android:theme="@style/AppTheme.Splash">-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity" />
        <activity android:name=".animations.AnimationsActivity" />
        <activity android:name=".api.ApiActivity" />
        <activity android:name=".apibottom.ApiBottomActivity" />
        <activity android:name=".recycler.RecyclerActivity" />

        <meta-data
            android:name="preloaded_fonts"
            />
<!--            android:resource="@array/preloaded_fonts"-->
<!--        Строка выше - должна быть в meta-data. Я её убрал, т.к.
             не понятно, что за ресурс @array/preloaded_fonts -->

    </application>

</manifest>